@model TecnologiaMT.Models.DetalleCompra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cod_Compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Cod_Emp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Cod_Emp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.Cod_Proveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.Cod_Proveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Retencion.Cod_Reten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Retencion.Cod_Reten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPago.Cod_TipoP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPago.Cod_TipoP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
